<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP Express</title>
    <link rel="stylesheet" href="/styles.css">


</head>
<body>
        <header>
            <nav>
                <ul class="nav-list">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/services">Nos services</a></li>
                    <li><a href="/contact">Contactez-nous</a></li>
                </ul>
            </nav>
        </header>

        <div class="form">
            <form action="">
                <label for="name">last name:</label><br>
                <input type="text" placeholder="Wos"><br>

                <label for="name">first name:</label><br>
                <input type="text" placeholder="Talsadoum"><br>

                <label for="name">Tel:</label><br>
                <input type="text" placeholder="+221336669939"><br>

                <input type="submit" value="envoyer">
            </form>
        </div>
</body>
</html>